body {
 padding-top: 70px;
 border: 15px solid #2C3E50;
}
.navbar-right{
  margin-right: 0;
}
.headline{
  text-align: center;
}
section {
  padding-top: 50px;
  overflow: hidden;
}
.container-fluid {
  padding-left: 10px;
  padding-right: 10px;
}
section>h2, .headerInfo {
  text-align: center;
}
#carousel-flickr{
  padding: 0;
}
.carousel-inner>.item>img{
  width: 550px;
  height:425px;
}
.well>.col-sm-6{
  padding-left: 0;
}
.well-sm{
  text-align: center;
  margin: 1px;
}
#whyAdopt>.well{
  margin: 5px;
  padding: 10px;
}
