body {
 padding-top: 70px;
}
section {
  padding-top: 50px;
}
.container-fluid {
  padding-left: 10px;
  padding-right: 10px;
}
section{
  overflow: hidden;
}
#carousel-flickr{
  padding: 0;
}
.carousel-inner>.item>img{
  width: 525px;
  height:425px;
}
.well>.col-sm-6{
  padding-left: 0;
}
.well-sm{
  text-align: center;
  margin: 1px;
}
#whyAdopt>.well{
  margin: 5px;
  padding: 10px;
}
