.container-fluid {
  padding-left: 10px;
  padding-right: 10px;
}
#carousel-flickr{
  padding: 0;
}
.well>.col-sm-6{
  padding-left: 0;
}
.well-sm{
  text-align: center;
  margin: 1px;
}
}
#searchBoxes{
  padding-left: 0;
  padding-right: 0;
}

